ul.topnav {
  font-size: 1.2em;
  line-height: 0.5em;
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
ul.topnav li {
  background: #2f3b43;
}
ul.topnav li a {
  color: #fff;
  display: block;
  line-height: 10px;
  padding: 20px 30px;
  text-decoration: none;
  border-bottom: 1px solid #3d4951;
}
ul.topnav li a:hover {
  background-color: #1c2830;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
ul.topnav ul {
  display: none;
  margin: 0;
  padding: 0;
}
ul.topnav ul li {
  clear: both;
  margin: 0;
  padding: 0;
}
ul.topnav ul li a {
  background-color: #1c2830;
  font-weight: normal;
  outline: 0 none;
  padding-left: 50px;
}
ul.topnav ul li a:hover {
  color: #88949c;
}
ul.topnav ul ul li a {
  color: #fff;
  padding-left: 70px;
}
ul.topnav ul ul li a:hover {
  color: #88949c;
}
ul.topnav span {
  float: right;
}
