@import "style-variables"
.main-wrapper
  min-height: 100%
  display: flex
  flex-flow: column

.page-content
  flex: 1
  display: flex
  flex-flow: column

.main
  display: flex
  flex-flow: row nowrap
  align-items: stretch
  flex: 1
  overflow-x: hidden

.content
  position: relative
  overflow: hidden

.main
  padding: 0
  background-color: $dirty-white
  border-radius: 3px
