<h3>Добавление документа</h3>
<form [formGroup]="documentForm" novalidate>
  <div class="form-group">
    <label for="title" class="form-helper">Название</label>
    <input
      pInputText
      class="form-control"
      id="title"
      type="text"
      formControlName="title"
    >
  </div>
  <div class="form-group">
    <label for="label" class="form-helper">Метка</label>
    <input
      pInputText
      class="form-control"
      id="label"
      type="text"
      formControlName="label"
    >
  </div>
  <div class="form-group">
    <p-dropdown
      placeholder="Выберите категорию"
      [options]="categoryOptions"
      [filter]="true"
      appendTo="body"
      formControlName="category"
      (onChange)="onCategoryChange($event)"
    ></p-dropdown>
  </div>
  <div class="form-group">
    <label for="description" class="form-helper">Описание</label>
    <textarea
      pInputTextarea
      class="form-control"
      id="description"
      type="text"
      formControlName="description"
    ></textarea>
  </div>
  <div class="form-group">
    <label>Видимость</label>
    <p-checkbox
      formControlName="visible"
      class="form-control"
      binary="true"
    ></p-checkbox>
  </div>
  <div class="form-group">
    <label class="form-helper">Тэги</label>
    <p-chips
      formControlName="tags"
    ></p-chips>
  </div>
  <div class="form-group">
    <label for="price" class="form-helper">Цена</label>
    <input
      pInputText
      class="form-control"
      id="price"
      type="number"
      formControlName="price"
    >
  </div>
  <div>
    <p-fileUpload
      [disabled]="!documentForm.valid"
      name="file"
      [url]="documentService.apiDocumentUrl"
      (onBeforeSend)="appendDataToUpload($event)"
      (onUpload)="afterUpload($event)"
      (onError)="onUploadError($event)"
    ></p-fileUpload>
  </div>
</form>
