<div *ngIf="profile">
  <h2>Профиль</h2>
  <div *ngIf="profile.local">
    <p>Имя: {{profile.local.username}}</p>
    <p>Email: {{profile.local.email}}</p>
    <p>
      {{profile.local.confirmed?'Email подтвержден':'Email не подтвержден'}}
      <button
        *ngIf="!profile.local.confirmed"
        pButton
        label="Подтвердить"
        (click)="confirm()"
        [disabled]="sendingEmail"
      ></button>
    </p>

  </div>
  <div *ngIf="profile.google">
    <h4>Google аккаунт</h4>
    <p>Имя: {{profile.google.name}}</p>
    <p>Email: {{profile.google.email}}</p>
  </div>
</div>

