<h3>Список пользователей</h3>
<p-dataTable
  [value]="users"
  [rows]="10"
  [resizableColumns]="true"
  [rowsPerPageOptions]="[5,10,20,100]"
  [paginator]="true"
  [lazy]="true"
  selectionMode="single"
  [totalRecords]="totalRecords"
  [responsive]="true"
  (onLazyLoad)="loadUsersLazy($event)"
>
  <p-column styleClass="actions-column">
    <ng-template pTemplate="header">
      №
    </ng-template>
    <ng-template let-ri="rowIndex" pTemplate="body">
      {{ ri+1 }}
    </ng-template>
  </p-column>
  <p-column *ngFor="let col of columns" [field]="col.field" [header]="col.header"></p-column>
  <p-column styleClass="actions-column">
    <ng-template pTemplate="header">
      Админ
    </ng-template>
    <ng-template let-user="rowData" pTemplate="body">
      {{ isAdmin(user)?'Да':'-' }}
    </ng-template>
  </p-column>
  <p-column styleClass="actions-column">
    <ng-template pTemplate="header">
      Действия
    </ng-template>
    <ng-template let-user="rowData" pTemplate="body" class="actions-column">
      <button
        pButton
        type="button"
        icon="fa-pencil"
        class="ui-button-warning"
        (click)="showUserDetails(user)"
      ></button>
      <button
        pButton
        type="button"
        icon="fa-trash"
        class="ui-button-danger"
        (click)="deleteUser(user)"
      ></button>
    </ng-template>
  </p-column>
  <p-footer class="table-footer">
    <span>Всего пользователей: {{ totalRecords }}</span>
  </p-footer>
</p-dataTable>

