<nav class="navigation">
  <ul class="navigation__list">
    <li class="navigation__item" [routerLinkActive]="['active']">
      <a [routerLink]="['users']" class="navigation__link">Пользователи</a>
    </li>
    <li class="navigation__item" [routerLinkActive]="['active']">
      <a [routerLink]="['documents']" class="navigation__link">Документы</a>
    </li>
    <li class="navigation__item" [routerLinkActive]="['active']">
      <a [routerLink]="['categories']" class="navigation__link">Категории</a>
    </li>
    <li class="navigation__item" [routerLinkActive]="['active']">
      <a [routerLink]="['purchases']" class="navigation__link">Покупки</a>
    </li>
  </ul>
</nav>
