<h2 class="form-title">Вход</h2>
<form class="reg-form" [formGroup]="authForm" (ngSubmit)="onLogin(authForm.value)" novalidate>
  <div class="form-group">
    <label for="reg-email" class="form-label">Email:</label>
    <input
      pInputText
      id="reg-email"
      class="form-control"
      type="text"
      formControlName="email"
    >
    <div *ngIf="formErrors.email" class="form-helper">{{formErrors.email}}</div>
  </div>
  <div class="form-group">
    <label for="reg-password" class="form-label">Пароль:</label>
    <input
      pInputText
      id="reg-password"
      class="form-control"
      type="password"
      formControlName="password"
    >
  </div>
  <div class="form-actions">
    <button
      pButton
      class="ui-button-success"
      type="submit"
      label="Войти"
    ></button>
    <button
      pButton
      type="button"
      label="Очистить"
      (click)="onReset()"
    ></button>
  </div>
</form>
