<h2 class="form-title">Регистрация</h2>
<form class="reg-form" [formGroup]="regForm" (ngSubmit)="onRegistration(regForm.value)" novalidate>
  <div class="form-group">
    <label for="reg-username" class="form-label">Имя:</label>
    <input
      pInputText
      id="reg-username"
      class="form-control"
      type="text"
      formControlName="username"
    >
    <div *ngIf="formErrors.username" class="form-helper">{{formErrors.username}}</div>
  </div>
  <div class="form-group">
    <label for="reg-email" class="form-label">Email:</label>
    <input
      pInputText
      id="reg-email"
      class="form-control"
      type="text"
      formControlName="email"
    >
    <div *ngIf="formErrors.email" class="form-helper">{{formErrors.email}}</div>
  </div>
  <div class="form-group">
    <label for="reg-password" class="form-label">Пароль:</label>
    <input
      pInputText
      id="reg-password"
      class="form-control"
      type="password"
      formControlName="password"
    >
    <div *ngIf="formErrors.password" class="form-helper">{{formErrors.password}}</div>
  </div>
  <div class="form-group">
    <label for="reg-password-confirm" class="form-label">Подтвердите пароль:</label>
    <input
      pInputText
      id="reg-password-confirm"
      class="form-control"
      type="password"
      formControlName="passwordConf"
    >
    <div *ngIf="formErrors.passwordConf" class="form-helper">{{formErrors.passwordConf}}</div>
  </div>
  <div class="form-actions">
    <button
      pButton
      class="ui-button-success"
      type="submit"
      label="Зарегистрироваться"
      [disabled]="!regForm.valid"
    ></button>
  </div>
</form>
