<div *ngIf="user">
  <h3>Данные учетной записи</h3>

  <p>ID: {{ user._id }}</p>
  <div *ngIf="user.local?.email">
    <h4>Локальные данные</h4>
    <p>Имя: {{ user.local.username }}</p>
    <p>Email: {{ user.local.email }}</p>
    <p>Email подтвержден? {{ user.local.confirmed }}</p>
  </div>
  <div *ngIf="user.google?.email">
    <h4>Данные Google-аккаунта</h4>
    <p>Имя: {{ user.google.name }}</p>
    <p>Email: {{ user.google.email }}</p>
  </div>
</div>

<button
  pButton
  type="button"
  label="Назад"
  (click)="back()"
></button>
