<div *ngIf="fetched">
  <h3>{{ getTitle() }}</h3>
  <form
    [formGroup]="categoryForm"
    class="ui-g"
    novalidate
  >
    <div class="ui-g-12">
      <label for="title">Название</label>
      <input
        pInputText
        class="ui-g-12"
        id="title"
        type="text"
        formControlName="name"
      >
    </div>
    <div class="ui-g-12">
      <label for="label" class="form-helper">Метка</label>
      <input
        pInputText
        class="ui-g-12"
        id="label"
        type="text"
        formControlName="label"
      >
    </div>
    <div class="ui-g-12">
      <label for="description" class="form-helper">Описание</label>
      <textarea
        pInputTextarea
        class="ui-g-12"
        id="description"
        type="text"
        formControlName="description"
      ></textarea>
    </div>
    <div class="ui-g-12">
      <label>Видимость</label>
      <p-checkbox
        formControlName="visible"
        binary="true"
      ></p-checkbox>
    </div>
    <div class="form-actions">
      <button
        pButton
        label="Сохранить"
        (click)="saveCategory()"
      ></button>
      <button
        pButton
        label="Отмена"
        (click)="backToCategories()"
      ></button>
      <button
        *ngIf="currentCategory._id"
        class="ui-button-danger"
        pButton
        label="Удалить"
        (click)="confirmDelete()"
      ></button>
    </div>
  </form>
  <div *ngIf="currentCategory.children?.length">
    <ul *ngFor="let child of currentCategory.children">
      <li>{{ child.name }}</li>
    </ul>
  </div>
</div>

