<p-dataTable
  [value]="categories"
  [rows]="10"
  [resizableColumns]="true"
  [rowsPerPageOptions]="[5,10,20,100]"
  [paginator]="true"
  selectionMode="single"
  [(selection)]="selectedCategory"
  [responsive]="true"
  (onRowSelect)="onRowSelect($event)"
>
  <p-header>Список категорий</p-header>
  <p-column styleClass="actions-column">
    <ng-template pTemplate="header">
      Название
    </ng-template>
    <ng-template let-category="rowData" pTemplate="body">
      <span [class.child]="category.parent">{{ category.name }}</span>
    </ng-template>
  </p-column>
  <p-column styleClass="actions-column">
    <ng-template pTemplate="header">
      Метка
    </ng-template>
    <ng-template let-category="rowData" pTemplate="body">
      {{ category.label }}
    </ng-template>
  </p-column>
  <p-column styleClass="actions-column">
    <ng-template pTemplate="header">
      Видимость
    </ng-template>
    <ng-template let-category="rowData" pTemplate="body">
      {{ category.visible?'Видимая':'Скрытая' }}
    </ng-template>
  </p-column>
  <p-column styleClass="actions-column">
    <ng-template pTemplate="header">
      Действия
    </ng-template>
    <ng-template let-category="rowData" pTemplate="body" class="actions-column">
      <button
        pButton
        type="button"
        icon="fa-pencil"
        class="ui-button-warning"
        (click)="editCategory(category)"
      ></button>
    </ng-template>
  </p-column>
  <p-footer class="table-footer">
    <button
      pButton
      type="button"
      class="ui-button-primary"
      label="Добавить"
      (click)="addCategory()"
    ></button>
    <span>Всего категорий в базе: {{ categories.length }}</span>
  </p-footer>
</p-dataTable>
